# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

name: Test

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

jobs:
    test:
        name: ${{ runner.os }} / Node ${{ matrix.node }} / ${{ matrix.pm }} / frozen=${{ matrix.frozen-lockfile }}
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                os:
                    - ubuntu-latest
                    - macos-latest
                    - windows-latest

                node:
                    - 20
                    - 22
                    - 24
                    - 25

                pm:
                    - npm
                    - yarn
                    - pnpm

                frozen-lockfile:
                    - true
                    - false

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node
              uses: ./
              with:
                  node-version: ${{ matrix.node }}
                  package-manager: ${{ matrix.pm }}
                  frozen-lockfile: ${{ matrix.frozen-lockfile }}

            - name: Check Node.js version
              run: node --version

            - name: Check package manager version
              run: ${{ matrix.pm }} --version
